# .env.example

# LLM API
LLM_API_KEY=sk-aaf9ea6f4d91454e82a0f25c75e770f4
QWEATHER_API_KEY=6248de2736f540d8b8fef5d982f19fbd
QWEATHER_API_HOST=ne6fr8btct.re.qweatherapi.com

EDAMAM_APP_ID=e1d50d6a
EDAMAM_APP_KEY=a81f304eb3a88391895f837b19580c8a
PUSHDEER_KEY=PDU40217TJY2Z7QZmMb1nOu4PTbgNxBzQzH4ciO1E

EMAIL_SENDER=984780133@qq.com
EMAIL_PASSWORD=jx2044831954

WECHAT_WEBHOOK=https://qyapi.weixin.qq.com/cgi-bin/webhook/send?key=xxx